@import views.html.helper._
@(albums: Form[CreateAlbumForm])(implicit request: MessagesRequestHeader)

@request.flash.get("success").map { key =>
    @request.messages(key)
}

@main("Add your album here") {
    @helper.form(routes.HomeController.addAlbum()) {
        @inputText(albums("artist"))
        @inputText(albums("name"))
        @inputText(albums("genre"))
        @CSRF.formField

        <input type="submit" value="Submit">
        <li><a href=@routes.HomeController.addSong()>Add songs to this album</a></li>
    }

}