@(albums: Form[Albums])(implicit request: MessagesRequestHeader)

@import views.html.helper.inputText

@request.flash.get("success").map { key =>
    @request.messages(key)
}

@main("Add your album here") {
    @helper.form(routes.HomeController.addAlbum()) {
        @inputText(albums("Artist"))
        @inputText(albums("Album name"))
        @inputText(albums("Genre"))
        @inputText(albums("Song title"))
        @inputText(albums("Duration"))

        <input type="submit" value="Submit">
    }

}