@import views.html.helper._

@main("Welcome to Play") {
  <h1>Welcome to Play Music App!</h1>

  <ul>
    <li><a href=@routes.HomeController.addAlbum()>Add album here</a></li>
    <li><a href=@routes.HomeController.all_albums()>Your albums are here</a></li>
    <li><a href=@routes.HomeController.playing()>What are you listening?</a></li>
    <li><a href=@routes.HomeController.timeListened()>Time listened of each genre?</a></li>
    <li><a href=@routes.HomeController.numbersOfPlaying()>Top 5 songs of all users</a></li>

  </ul>
}
