@import views.html.helper._
@import dao.AlbumDAO
@import scala.concurrent.Await
@import scala.concurrent.duration.DurationDouble
@import scala.language.postfixOps
@import dao.AlbumSongDAO
@(playing: Form[CreatePlayingForm], as: AlbumSongDAO)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@*//@request.flash.get("success").map { key =>*@
@*//    @request.messages(key)*@
@*//}*@

@main("What are you listening to?") {

    @helper.form(routes.HomeController.playing()) {
        @select(playing("artist"), options{
            val a = as.artistAndSong()
            val b = Await.result(a, 0.1 seconds).keys
            b.toList
        })
        @select(playing("song"), options{
            val a = as.artistAndSong()
            val b = Await.result(a, 0.1 seconds).values.flatten
            b.toList
        })
        @CSRF.formField

        <input type="submit" value="Submit">
    }

}