@(user: User)
@main("This is a private page") {
    <h1>This is a private page</h1>
    <p>Current user: <strong>@user.username</strong> </p>
    <li><a href=@routes.HomeController.addAlbum()>Add album here</a></li>
    <li><a href=@routes.HomeController.getAlbums()>Your albums are here</a></li>
@*        @albumForm(routes.HomeController.addAlbums()) {*@
@*            @inputText(albums("artist"))*@
@*            @inputText(albums("name"))*@
@*            @inputText(albums("genre"))*@
@*            @CSRF.formField*@

@*            <div class="buttons">*@
@*                <input type="submit" value="Add Person"/>*@
@*            </div>*@
@*        }*@
    }
